<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tech Rags</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav class="static">
    <div class="container">
      <div class="row">
        <h1 class="blog-title">
          Tech
          <span>Rags</span>
        </h1>
        <ul class="link">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="post-detail.html">Code</a>
          </li>
          <li>
            <a href="post-detail.html">Lifehack</a>
          </li>
          <li>
            <a href="post-detail.html">Music</a>
          </li>
          <li class="active">
            <a href="about-me.html">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="header">
    <div class="background">
      <div class="left">
        <figure class="img-wrapper flex-wrap">
          <img src="assets/me.JPG" alt="Alif Irfan Anshory">
        </figure>
      </div>
      <div class="right">
        <h1 class="name">Alif Irfan Anshory</h1>
        <p class="nim">Web Developer | JS Enthusiast</p>
      </div>
    </div>
  </section>
  <section class="info container">
    <p class="text-center">
      Hi! I'm 20 years old developer from Indonesia. I love logics and something beautiful. That's why I deepen the front end development.
      In addition, I am also studying other programming languages, according to the curriculum I get in the university. I believe
      that with the power of code, I can change the world for the better future.
    </p>
  </section>
  <div class="text-center">
    <button class="btn act" id="aktivitas">Aktivitas</button>
  </div>
  <section class="activity">

  </section>

  <script src="js/jquery.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>