<div class="md4 sm6 xs6">
  <div class="card">
    <a href="post-detail.html">
      <figure class="img-wrapper">
        <img src="assets/peta.JPG" alt="Peta">
      </figure>
      <small class="date">12 Januari 2018</small>
      <p class="title">Caching menggunakan Redis + Node.js</p>
      <p class="desc">
        Untuk membangun suatu API, kita dapat menggunakan cache agar dapat meningkatkan kecepatan, mengurangi penggunaan bandwith
        dan server load. Pada kesempatan kali ini kita akan membuat API untuk mendapatkan total public repository Github
        seseorang.
      </p>
      <p class="penulis">Alif Irfan Anshory</p>
  </div>
  </a>
</div>
<div class="md4 sm6 xs6">
  <div class="card">
    <a href="post-detail.html">
      <figure class="img-wrapper">
        <img src="assets/peta.JPG" alt="Peta">
      </figure>
      <small class="date">12 Januari 2018</small>
      <p class="title">Caching menggunakan Redis + Node.js</p>
      <p class="desc">
        Untuk membangun suatu API, kita dapat menggunakan cache agar dapat meningkatkan kecepatan, mengurangi penggunaan bandwith
        dan server load. Pada kesempatan kali ini kita akan membuat API untuk mendapatkan total public repository Github
        seseorang.
      </p>
      <p class="penulis">Alif Irfan Anshory</p>
  </div>
  </a>
</div>
<div class="md4 sm6 xs6">
  <div class="card">
    <a href="post-detail.html">
      <figure class="img-wrapper">
        <img src="assets/good.JPG" alt="Peta">
      </figure>
      <small class="date">12 Januari 2018</small>
      <p class="title">Pengetahuan Dasar Vue.js</p>
      <p class="desc">
        Vue.js (https://vuejs.org/) seperti di websitenya yang membawa tagline “The Progressive JavaScript Framework” merupakan javascript
        framework yang membantu kita dalam membuat sebuah website/aplikasi yang membutuhkan banyak interaksi ...
      </p>
      <p class="penulis">Alif Irfan Anshory</p>
    </a>
  </div>
</div>
<div class="md4 sm6 xs6">
  <div class="card">
    <a href="post-detail.html">
      <figure class="img-wrapper">
        <img src="assets/peta.JPG" alt="Peta">
      </figure>
      <small class="date">12 Januari 2018</small>
      <p class="title">Lorem ipsum dolor sit amet.</p>
      <p class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quo, fugit neque sint temporibus ullam debitis velit culpa
        obcaecati minima!
      </p>
      <p class="penulis">Alif Irfan Anshory</p>
    </a>
  </div>
</div>
<div class="md4 sm6 xs6">
  <div class="card">
    <a href="post-detail.html">
      <figure class="img-wrapper">
        <img src="assets/good.JPG" alt="Peta">
      </figure>
      <small class="date">12 Januari 2018</small>
      <p class="title">Lorem ipsum dolor sit amet.</p>
      <p class="desc">
        Vue.js (https://vuejs.org/) seperti di websitenya yang membawa tagline “The Progressive JavaScript Framework” merupakan javascript
        framework yang membantu kita dalam membuat sebuah website/aplikasi yang membutuhkan banyak interaksi ...
      </p>
      <p class="penulis">Alif Irfan Anshory</p>
    </a>
  </div>
</div>